[submodule "themes/creative"]
	path = themes/creative
	url = git@github.com:kosakasakas/hugo-creative-theme.git
[submodule "public"]
	path = public
	url = https://github.com/kosakasakastest/kosakasakastest.github.io.git
